.cardCreateForm{
  font-size: 20px;
  padding: 30px;
  background-color: aqua;
  width: 50vw;
  height: fit-content;
  z-index: 101;
  
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  border: solid black 3px;

  border-radius: 15px;
}

.filter{

  padding: 30px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.formTitle{
  font-size: 30px;
  font-weight: 700;
}