 .home {
  border: solid 10px sandybrown;
  border-radius: 30px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 5px;
  flex-wrap: wrap;
  padding: 15px;
  background-color: rgb(206, 147, 140);
 }